* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #E8E6E3;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    overflow: hidden;
    transition: transform 0.5s, color 0.2s, height 0.2s;
}

@font-face {
    font-family: 'english';
    src: url('font/JetBrainsMono-Bold.ttf');
}

body, html {
    height: 100%;
    font-family: 'english', cursive;
    font-weight: bold;
}

body {
    background-color: #CE800D;
}

#titleBar {
    width: 100%;
    height: 20px;
    background-color: #C66A0D;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

#more {
    cursor: pointer;
}

#close {
    position: absolute;
    right: 5px;
    top: 25px;
    cursor: pointer;
    padding: 5px;
}

#title {
    position: absolute;
    top: 25px;
    left: 10px;
}

#board {
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
}

.block1 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: #262829;
    border: 2px solid #414547;
}

.block2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: #262829;
    border: 2px solid #414547;
    border-top: none;
}

input {
    width: 50%;
    background-color: transparent;
    resize: none;
    outline: none;
    border: none;
    padding: 5px;
    line-height: 100%;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    display: none;
}

.icon {
    color: #A49C90;
    cursor: pointer;
    padding: 5px;
}

#edit {
    position: absolute;
    left: 5px;
}

#mark {
    position: absolute;
    right: 5px;
}

#trash {
    position: absolute;
    right: 5px;
}

#check {
    position: absolute;
    right: 5px;
    display: none;
}

#look1 {
    position: absolute;
    left: 5px;
    cursor: pointer;
}

#look2 {
    position: absolute;
    left: 5px;
    cursor: pointer;
    display: none;
}

.text {
    width: 60%;
    cursor: zoom-in;
    word-wrap: break-word;
    font-size: 14px;
}

#text2 {
    display: none;
}

#setting {
    width: 100%;
    height: 140px;
    background-color: #262829;
    border: 2px solid #414547;
    z-index: 2;
    display: none;
}