* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #E8E6E3;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    overflow: hidden;
    transition: transform 0.5s, color 0.2s, height 0.2s;
}

@font-face {
    font-family: 'english';
    src: url('font/JetBrainsMono-Bold.ttf');
}

body, html {
    height: 100%;
    font-family: 'english', cursive;
    font-weight: bold;
}

body {
    background-color: #CE800D;
}

#titleBar {
    width: 100%;
    height: 20px;
    background-color: rgb(198, 106, 13);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

#more {
    cursor: pointer;
    padding: 5px;
}

#close {
    position: absolute;
    right: 5px;
    top: 25px;
    cursor: pointer;
    padding: 5px;
}

#nextBoard {
    position: absolute;
    right: 70px;
    bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(187, 54, 13, 0.8);
    box-shadow: 0 0 2px 1px rgba(38, 40, 41, 0.5);
    z-index: 1;
}

#next {
    font-size: 5px;
    cursor: pointer;
}

#title {
    position: absolute;
    top: 25px;
    left: 10px;
}

#board {
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
}

.block1 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: #262829;
    border: 2px solid #414547;
}

#scroll {
    overflow-y: scroll;
    width: 100%;
    height: 50%;
}

.block2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    max-height: 500%;
    background-color: #262829;
    border: 2px solid #414547;
    border-top: none;
}

input {
    width: 50%;
    background-color: transparent;
    resize: none;
    outline: none;
    border: none;
    padding: 5px;
    line-height: 100%;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    display: none;
}

.icon {
    color: #A49C90;
    cursor: pointer;
    padding: 5px;
}

#edit {
    position: absolute;
    left: 5px;
}

#mark {
    position: absolute;
    right: 5px;
}

#trash {
    position: absolute;
    right: 5px;
}

#check {
    position: absolute;
    right: 5px;
    display: none;
}

#cancel {
    position: absolute;
    right: 5px;
    display: none;
}

#look1 {
    position: absolute;
    left: 5px;
    cursor: pointer;
}

#look2 {
    position: absolute;
    left: 5px;
    cursor: pointer;
    display: none;
}

.text {
    width: 60%;
    cursor: zoom-in;
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-size: 14px;
}

::-webkit-scrollbar {
    display:none;
}

#text2 {
    display: none;
}

#listBoard {
    width: 100%;
    height: 0;
    z-index: 2;
    text-align: center;
    position: absolute;
    top: 20px;
    background-color: #262829;
}

.list {
    width: 100%;
    height: 28px;
    padding: 5px;
    border: 2px solid #414547;
    border-top: none;
    cursor: pointer;
}

.list:hover {
    color: #BB360D;
    background-color: rgba(65, 69, 71, 0.5);
}

/*#setting {*/
/*    width: 100%;*/
/*    height: 140px;*/
/*    background-color: #262829;*/
/*    border: 2px solid #414547;*/
/*    z-index: 1;*/
/*    display: none;*/
/*}*/